* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  }

  body {
    height: 93vh;
    background: url(bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 50px;
    box-shadow: 0 5px 100px #162938;
  }
  
header .logo {
    font-size: 20px;
    font-weight: 900;
    color: #162938;
    transition: .5s;
  }
  
  header .logo:hover{
    transform: scale(1.2);
  } 


  header nav ul li {
    position: relative;
    float: left;
  }
  
  header nav ul li a {
    padding: 12px;
    color: #162938;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    transition: .5s;
  }
  
  header nav ul li a:hover {
    background: #162938;
    color: #fff;
  }
  
  nav ul li ul {
    position: absolute;
    left: 0;
    width: 185px;
    background: #fff; 
    display: none;
    transition: .5s;
  }
  
  nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
  }
  
  nav ul li:hover > ul {
    display: initial;
  }
  
  .name {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #162938;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #162938;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
  }
  
  .name:hover {
    background: #162938;
    color: #fff ;
  }
